<div class="footer">
  <div class="w-container">
    <div>
      <a href="https://twitter.com/Luca83550285" class="social-icon-link w-inline-block">
        <img src="/assets/images/social-18.svg" width="20">
      </a>
      <a href="https://github.com/beyony" class="social-icon-link w-inline-block">
        <img src="/assets/images/social-33.svg" width="20">
      </a>
      <a href="https://www.linkedin.com/in/luca-heider-b35403154/" class="social-icon-link w-inline-block">
        <img src="/assets/images/social-09.svg" width="20">
      </a>
      <a href="mailto:coffee@lucaheider.com" class="social-icon-link w-inline-block">
        <img src="/assets/images/social-30.svg" width="20">
      </a>
      <a href="#" class="social-icon-link w-inline-block" style="display: none;">
        <img src="/assets/images/social-40.svg" width="20">
      </a>
    </div>
    <div class="footer-text"></div>
  </div>
</div>
<!--stackedit_data:
eyJoaXN0b3J5IjpbMTE4MDkyNzA4NV19
-->