<div class="footer">
    <div class="w-container">
      <div>
        <a href="#" class="social-icon-link w-inline-block"><img src="/assets/images/social-03.svg" width="20"></a>
        <a href="#" class="social-icon-link w-inline-block"><img src="/assets/images/social-18.svg" width="20"></a>
        <a href="#" class="social-icon-link w-inline-block"><img src="/assets/images/social-33.svg" width="20"></a>
        <a href="#" class="social-icon-link w-inline-block"><img src="/assets/images/social-09.svg" width="20"></a>
        <a href="#" class="social-icon-link w-inline-block"><img src="/assets/images/facebook-s.svg" width="20"></a>
        <a href="#" class="social-icon-link w-inline-block"><img src="/assets/images/social-30.svg" width="20"></a>
        <a href="#" class="social-icon-link w-inline-block"><img src="/assets/images/social-40.svg" width="20"></a>
      </div>
      <div class="footer-text"></div> 
    </div>
  </div>