{% include meta.html %}

<body>
  <div class="header-section">
    <div class="w-container">
      <a href="index.html" class="blog-home-link w-inline-block">
        <h1 class="blog-name">Developing The Web</h1>
      </a>
      <div class="navigation-bar">
        <a href="/index.html" class="nav-link" style="color: #303030;">about</a>
        <a href="/overview.html" class="nav-link">blog</a>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="about-content">
      <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
        <div class="flipper">
          <div class="front">
            <!-- front content -->
          </div>
          <div class="back">
            <!-- back content -->
          </div>
        </div>
      </div>
      <div class="profile-text w-richtext">
        <h2>Hey you. Curious?</h2>
        <p>I create stuff. And by stuff I mean webapps, apps, graphics, music, photos and more..</p>
        <p>During daytime you can find me here:</p>
        <a href="#" class="social-icon-link w-inline-block">
          <img src="assets/images/map-pin.svg" width="20">
        </a>
      </div>
    </div>
  </div>
  {% include footer.html %}
  <div class="section" style="display: none;">
    {% include map.html %}
  </div>
</body>



</html>