{% include meta.html %}

<body>
  <div class="header-section">
    <div class="w-container">
      <a href="index.html" class="blog-home-link w-inline-block">
        <h1 class="blog-name">{{ page.heading }}</h1>
      </a>
      <div class="navigation-bar">
        <a href="/index.html" class="nav-link" style="color: #303030;">about</a>
        <a href="/" class="nav-link">blog</a>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="about-content">


      <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
        <div class="flipper">
          <div class="front">
          </div>
          <div class="back">
            <!-- {% include map.html %} -->
          </div>
        </div>
      </div>

      <div class="profile-text w-richtext">
        {{ content }}
       <!-- <span onclick="flip()" class="social-icon-link w-inline-block">
          <img src="assets/images/map-pin.svg" width="20">
        </span> -->
      </div>
    </div>
  </div>
    {% include footer.html %}
    <script src="/assets/js/main.js"></script>
</body>



</html>
<!--stackedit_data:
eyJoaXN0b3J5IjpbLTQ4Mzg2Mzg1OSw0NTg1NDA5NzRdfQ==
-->