{% include meta.html %}

<body>
    {% include header.html %}
    <div class="section-heading">
        {{content}}
    </div>
    <div>
        {% for post in site.posts %}
        <div class="blog-post">
            <div class="heading-wrapper">
                    <h1 class="blog-headline"><a class="blog-post-link" href="{{ post.url }}">{{ post.title }}</a></h1>
                <div class="byline-wrapper">
                    <div class="byline-text">{{ post.date | date_to_string }}</div>
                </div>
            </div>
            <p class="blog-content">{{ post.introduction }}</p>
        </div>
        {% endfor %}
    </div>
    {% include footer.html %}
</body>

</html>