{% include meta.html %} 
    <div style=" position: absolute; width: 100px; height: 100px; background-size: cover; background-image: url('/assets/images/voa-1024x768.png')"></div>
    <section class="cover" style="background-image: url('{{ page.background-image }}')">
        <div class="cover-content">
            <h1 class="post-heading">{{ page.title }}</h1>
            <div class="byline-wrapper">
                <div class="byline-text">{{ page.date | date_to_string }}</div>
            </div>
        </div>
        {% include header.html %}
    </section>
    <section class="section">
        <div class="w-container">
            <div class="blog-content w-richtext">
                {{ content }}
            </div>
        </div>
    </section>

{% include footer.html %}